@font-face {
	font-family: 'Vazir';
	src: url('fonts/Vazir.eot');
	src: url('fonts/Vazir.woff') format('woff');
	src: url('fonts/Vazir.ttf')
}

body {
  font-family: "Vazir";
  margin: 0;
    background: url('../img/p3.png') repeat;
      padding: 30px auto;
  padding-top: 30px;
}
.fitem {
  box-sizing: border-box;
  border: 1px solid #1e212d;
  border-radius: 8px;
  margin: 4px;
  padding: 10px;
}

.grid-container2 {
  min-height: 250px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 5px;
  background-color: #eabf9f;
  text-align: center;
  box-sizing: border-box;
  max-width: 1300px;
  margin: 0px auto;
  border-radius: 12px;
  box-shadow: 1px 2px 5px #8a635096;
  justify-content: space-around;
  object-fit: cover;
}
/*----------*/
nav img{
  align-items: flex-end;
  border-radius: 3px;
}

body h3:not(#inf), body h2{
  text-align: center;
  margin: 5px auto;
  background-color: #b68973;
  max-width: 1300px;
}

a {
  background-color: #b68973;
  color: #1e212d;
  margin: 5px;
  border-radius: 10px;
  border: none;
  font-size: 1.2rem;
  box-shadow: 3px #1e212d;
  padding: 10px;
  text-decoration: none;
}

.grid-container{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  padding: 5px;
  max-width: 1300px;
  margin: 20px auto;
  border: 1px solid #8a6857;
  background-color: #b68973;
  text-align: center;
}
.item:nth-child(even){background-color: #eabf9f}
.item1{
  grid-column-start: 1;
  grid-column-end: 5;
  text-align: center;
  border-bottom: 1px solid #8a6857;
}
.o{
  grid-column-start: 2;
  grid-column-end: 4;
}

.appbar {
  background-color: #1e212d;
  min-height: 80px;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  justify-content: center;
  border-radius:50px;
}

@media screen and (max-width: 1150px) {
  .flex-container {
    width: 1000px;
    height: 260px;
    font-size: 0.8em;
  }
}
@media screen and (max-width: 900px) {
  .grid-container, .grid-container2 {
    display: grid;
    grid-template-columns: auto ;
    font-size: 0.85em;
    justify-content: space-around;
  }
  .item {
    width: 90%;
    border-radius: 8px;
  }
}
@media screen and (max-width: 500px) {
  .item {
    width: 90%;
    border-radius: 8px;
  }
  .grid-container, .grid-container2 {
    display: grid;
    grid-template-columns: auto;
    font-size: 0.85em;
    justify-content: space-around;
  }
  .item1, .o{
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .appbar {
    display: grid;
    grid-template-columns: auto;
  }
}



@media print{
  body {
    color: #000;
    background-color: #fff;
  }

  nav, header {
    display: none;
  }
  table, img {
    break-inside: avoid;
  }
  p.bodyText{
      font-family: "BNazanin", Helvetica, sans-serif;
  }
}